<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div>
                <span class="headerFontSize">Customers</span>
                <button type="button" class="btn btn-primary pull-right addButton" [routerLink]="['/contact']"><span class="glyphicon glyphicon-plus"> Add</span></button>
            </div>
            <hr />
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="btn-group" role="group" aria-label="Icons">
                                    <button type="button" class="btn btn-secondary transbg"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button type="button" class="btn btn-secondary transbg"><span class="glyphicon glyphicon-minus deletered"></span></button>
                                </div>
                            </td>
                            <td>Sample</td>
                            <td></td>
                            <td>sample@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <span class="headerFontSize">Suppliers</span>
                <button type="button" class="btn btn-primary pull-right addButton" [routerLink]="['/contact']"><span class="glyphicon glyphicon-plus"> Add</span></button>
            </div>
            <hr />
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Telephone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="btn-group" role="group" aria-label="Icons">
                                    <button type="button" class="btn btn-secondary transbg"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button type="button" class="btn btn-secondary transbg"><span class="glyphicon glyphicon-minus deletered"></span></button>
                                </div>
                            </td>
                            <td>Sample</td>
                            <td>4379873000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>